<%= form_with(model: freepost, local: true) do |form| %>
  <% if freepost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(freepost.errors.count, "error") %> prohibited this graduate from being saved:</h2>

      <ul>
      <% freepost.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <%= form.hidden_field :post_id, value: current_user.uid.to_s %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
