
<head>
  <!-- <link rel="stylesheet" type="text/css" href="discussion_style.css"> -->
	<link rel="stylesheet" type="text/css" href="default.css">
	<link rel="stylesheet" type="text/css" href="table.css">
	<link href="https://fonts.googleapis.com/css?family=Markazi+Text" rel="stylesheet">
</head>

<body>

  <!-- <p id="notice"><%= notice %></p> -->

    <div class = "title">
  		<h1>자유게시판</h1>
  		<h2><i class="fas fa-pencil-alt"></i>Discussion Board</h2>
  	</div>

  	<!-- sec_up section -->
  	<div class = "container sec_up">
  			<div class = "row">
  				<div class = "col-md-7">
  					<div class="input-group mb-3">
    						<input type="text" class="form-control" placeholder="검색어를 입력해 주세요" aria-label="Recipient's username" aria-describedby="basic-addon2">
    						<div class="input-group-append">
      						<button class="btn btn-outline-secondary" type="button">검색</button>
    						</div>
  					</div>
  				</div>
  				<div class = "col-md-2"></div>
  				<div class = "col-md-3">
  					<!-- <button type="button" class="btn btn-outline-primary">글쓰기</button> -->
            <%= button_to "글쓰기", new_freepost_path, :class => "btn btn-outline-primary", :method => :get %>
  				</div>
  			</div>
  	</div>

  	<!-- content table -->
  	<table class="table content container">
  	  <thead>
  	    <tr>
  	      <th scope="col">제목</th>
  	      <th scope="col">등록자</th>
  	      <th scope="col">등록일</th>
  	      <th scope="col">조회수</th>
    	      <th scope="col">추천</th>
  	    </tr>
  	  </thead>
  	  <tbody>
        <% @freeposts.each do |freepost| %>
  	    <tr>
          <td><%= link_to freepost.title, freepost %></td>
          <td><%= freepost.content %></td>
          <td><%= freepost.post_id %></td>
          <td>10</td>
          <td>1</td>
        </tr>
        <% end %>
  	  </tbody>
  	</table>

  	<!-- sec_down section -->
  	<div class = "sec_down container">
  			<div class = "row">
  				<div class = "col-md-2">
  				</div>
  				<div class = "col-md-8">
  				<p id = "pagenum">
  					<< 1 2 3 4 5 6 7 8 9 10 >>
  				</p>
  				</div>
  				<div class = "col-md-2">
  				</div>
  			</div>
  	</div>

</body>
