<p id="notice"><%= notice %></p>

<h1>Sponsorposts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Post</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sponsorposts.each do |sponsorpost| %>
      <tr>
        <td><%= sponsorpost.title %></td>
        <td><%= sponsorpost.content %></td>
        <td><%= sponsorpost.post_id %></td>
        <td><%= link_to 'Show', sponsorpost %></td>
        <td><%= link_to 'Edit', edit_sponsorpost_path(sponsorpost) %></td>
        <td><%= link_to 'Destroy', sponsorpost, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sponsorpost', new_sponsorpost_path %>
