<head>
  <link rel='stylesheet' href='/Users/DavidKim/Desktop/brueut/brueut-master-1-master/app/assets/stylesheets/fullcalendar.css' />
  <script src='/Users/DavidKim/Desktop/brueut/brueut-master-1-master/app/assets/javascripts/jquery.min.js'></script>
  <script src='/Users/DavidKim/Desktop/brueut/brueut-master-1-master/app/assets/javascripts/moment.min.js'></script>
  <script src='/Users/DavidKim/Desktop/brueut/brueut-master-1-master/app/assets/javascripts/fullcalendar.js'></script>

</head>

<p id="notice"><%= notice %></p>

<h1>Bamboos</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Post</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bamboos.each do |bamboo| %>
      <tr>
        <td><%= bamboo.title %></td>
        <td><%= bamboo.content %></td>
        <td><%= bamboo.post_id %></td>
        <td><%= link_to 'Show', bamboo %></td>
        <td><%= link_to 'Edit', edit_bamboo_path(bamboo) %></td>
        <td><%= link_to 'Destroy', bamboo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bamboo', new_bamboo_path %>


  <div class="calendar"></div>

  <script>
  // this is for calendar
   var initialize_calendar;
   initialize_calendar = function() {
    //  console.log("calendar works!")
     $('.calendar').each(function() {
       var calendar = $(this);
       calendar.fullCalendar({
         header: {
           left: 'prev, next today',
           center: 'title',
           right: 'month, agendaWeek, agendaDay'
         },
         selectable: true,
         selectHelper: true,
         editable: true,
         eventLimit: true,
         eventTextColor: '#ffffff',
         eventAfterRender: function (event, element, view) {
           if (event.event_type == "Club") {
             //event.color = "#FFB347"; //Em andamento
             element.css('background-color', '#1d86c8');
             element.css('border-color', '#1d86c8');
           }
           else if (event.event_type == "Holiday") {
             //event.color = "#77DD77"; //Concluído OK
             element.css('background-color', '#77DD77');
             element.css('border-color', '#77DD77');
           }
           else if (event.event_type == "School") {
             //event.color = "#AEC6CF"; //Não iniciado
             element.css('background-color', '#ffee0a');
             element.css('border-color', '#ffee0a');
           }
         },
         events: '/events.json'
       });
     })
   };
   $(document).on('turbolinks:load', initialize_calendar);

   </script>
