<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @bamboo.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @bamboo.content %>
</p>

<p>
  <strong>Post:</strong>
  <%= @bamboo.post_id %>
</p>

<h2>Comments</h2>
<% @bamboo.bamboo_comments.each do |comment| %>
  <p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>
 
  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>

  <p>
  <%= link_to 'Destroy Comment', [comment.bamboo, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
  </p>
<% end %>

<h2>Add a comment:</h2>
<%= form_with(model: [ @bamboo, @bamboo.bamboo_comments.build ], local: true) do |form| %>
  <p>
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Edit', edit_bamboo_path(@bamboo) %> |
<%= link_to 'Back', bamboos_path %>