<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @recruit.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @recruit.content %>
</p>

<p>
  <strong>Post:</strong>
  <%= @recruit.post_id %>
</p>

<h2>Comments</h2>
<% @recruit.recruit_comments.each do |comment| %>
  <p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>
 
  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>

  <p>
  <%= link_to 'Destroy Comment', [comment.recruit, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
  </p>
<% end %>

<h2>Add a comment:</h2>
<%= form_with(model: [ @recruit, @recruit.recruit_comments.build ], local: true) do |form| %>
  <p>
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Edit', edit_recruit_path(@recruit) %> |
<%= link_to 'Back', recruits_path %>